<footer>
  <div class="container">
    <div class="social-links">
      {% if site.github_username %}
      <li><a href="https://github.com/{{ site.github_username }}" title="GitHub">GitHub</a></li>
      {% endif %}
      <li><a href="{{ '/feed.xml' | relative_url }}" title="RSS Feed">RSS</a></li>
    </div>
    <p>&copy; {{ 'now' | date: "%Y" }} {{ site.author }}</p>
  </div>
  <div class="footer-peek-character">
    <img src="{{ '/assets/p3mcs.png' | relative_url }}" alt="Tiny character peeking" />
  </div>
</footer>