---
layout: default
---

<div class="container">
  <article class="post-content">
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <p class="post-subtitle">{{ page.subtitle }}</p>
      {% endif %}
      <p class="post-meta">
        Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}
        on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=page.content %}
      </p>
    </header>

    {{ content }}

    <nav class="post-navigation">
      {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="nav-previous"
        title="{{ page.previous.title }}">
        &larr; Previous Post
      </a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="nav-next"
        title="{{ page.next.title }}">
        Next Post &rarr;
      </a>
      {% endif %}
    </nav>
  </article>
</div>